<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} | Chris and Megan</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <div id="container">
            <nav>
                <ul>
                    <li><a href="{% url home %}">Welcome</a></li>
                    <li><a href="{% url events %}">Events</a></li>
                    <li><a href="{% url lodging %}">Lodging</a></li>
                    <li><a href="{% url story %}">Our Story</a></li>
                    <li><a href="{% url gallery %}">Gallery</a></li>
                    <li><a href="{% url contact %}">Contact</a></li>
                </ul>
            </nav>

            <div id="main_content">
                <div id="graphic"></div>
                <div id="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>

            <footer>
            {% block footer %}
            <p>If you have a special request or question please <a href="{% url contact %}">contact us</a>!</p>
            {% endblock footer %}
            </footer>
        </div>
    </body>

    <script type="text/javascript"> 
        var gaJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + gaJsHost + "ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    {% block extra_body %}
    {% endblock extra_body %}
  
</html>
