{% extends "base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}

<div id="registry">
    <h1>Contact Us</h1>
    <br/>

    <h2>Gift Registry</h2>
    <br/>
	{% if wedding.registry_set.all %}
	{% for registry in wedding.registry_set.all %}
        <div id="reg_img">
        <a href="{{registry.url}}"><img src="{{registry.image}}"/></a>
        </div>
	{% endfor %}
	{% else %}
	<p>We plan to register soon.</p>
    {% endif %}

    <h2>Info</h2>
    <br/>
    <p>
        Contact us at {{wedding.contact_phone}} or 
        <a href="mailto:{{wedding.contact_email}}">{{wedding.contact_email}}</a> 
        with any requests or questions.</p>

</div>

<!--
<div id="messages">
    <p>Leave a message for the wedding couple</p>
    <form method="post" action="">
    	{% csrf_token %}
    	{{ form.as_p }}
    	<div class="form_block">
    		<input type="submit" value="Submit Message"/>
    	</div>
    	
    </form>
    
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{message.text}} - {{message.name}} on {{message.created}}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No messages yet! Be the first!</p>
    {% endif %}
</div>
-->
{% endblock %}
