{% extends 'base.html' %}

{% load easy_maps_tags %}

{% block title %}Events{% endblock title %}

{% block content %}

{% for event in wedding.event_set.all %}
	<h2>{{event.name}}</h2>
	<p>
	To be held on {% if event.date %}{{event.date}}, 
	only {{event.days_remaining}} days remaining!{% else %}TBD{%endif%}
	</p>
	{% if event.venue %}
		<p>
		Location: {{event.venue}}
		</p>
		<p>
			<a href="{{event.google_maps}}">{{event.address}}</a>
			{% easy_map event.address 300 300 13 %}
		</p>
		<p>
		For more information:
		{% if event.phone %}{{event.phone}}{% endif %} 
		{% if event.phone and event.email %}or{% endif%} 
		{% if event.email %}{{event.email}}{% endif %}
		</p>
		<p>
		<b>About {{event.venue}}:</b> {{event.about}}
		</p>
	{%endif%} 
	<br/>
{% endfor %}

{% endblock content %}
