{% extends 'base.html' %}

{% load easy_maps_tags %}

{% block title %}Events{% endblock title %}

{% block content %}

<div id="events">
{% for event in wedding.event_set.all %}
	<h2>{{event.type}}</h2>
	<p>
    {% if event.url %}<br/><a href="{{event.url}}">{{event.venue}}</a>{% endif %}
	</p>
    {% if event.date %}
	<p>
    {{event.date|date:"D \t\he jS o\f F, Y"}}
    </p>
    {% else %}<p>TBD</p>{%endif%}
	<p>
    {% if event.phone %}{{event.phone}}{% endif %}
    </p>
    <p>
    {% if event.email %}<a href="mailto:{{event.email}}">{{event.email}}</a>{% endif %}
    </p>
	<br/>
{% endfor %}
</div>
{% endblock content %}
