{% extends "base.html" %}

{% block title %}RSVP Detail{% endblock title %}

{% block content %}
<div id="rsvp">
    <h1>RSVP</h1>
    <br/>

    <h2>{{group.name}}</h2>
    <br/>
    <p>
    <a href="{% url rsvp_edit code=group.code %}">Edit the RSVP for this party</a>
    </p>

    <ul>
    	<li>Response: {{group.get_response_display}}</li>
    	<li>Party: {{group.get_party_display}}</li>
        <li>Contact Info: 
            <ul>
                <li>{% if group.email %}{{group.email}}{% else %}No email{% endif %}</li>
                <li>{% if group.phone %}{{group.phone}}{% else %}No phone{% endif %}</li>
            </ul>
        </li>
    </ul>

    <h2>Guests</h2>
    <br/>
    <p>We expect {{group.number_guests}} guest{{group.number_guests|pluralize}} in your party:</p>
    <ul>
    {% for guest in group.guest_set.all %}
    <li>{{guest}}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
