{% extends "base.html" %}

{% block title %}RSVP Form{% endblock title %}

{% block content %}
<div id="rsvp">
    <h1>RSVP</h1>
    <br/>
    <form method="post" action="">
    	{% csrf_token %}
        <h2>{{group.name}}</h2>
    	<br />
        {{ form.as_p }}
        {{ formset.management_form }}
    	<br />
        <h2>Guests</h2>
    	{% for inlineform in formset %}
    	<br />
    		{{ inlineform.as_p }}
    	{% endfor %}
    	<div class="form_block">
    		<input type="submit" value="Submit RSVP"/>
    	</div>
    </form>
</div>
{% endblock %}
