{% extends "base.html" %}

{% block title %}RSVP{% endblock title %}

{% block content %}
<div id="rsvp">
    <h1>RSVP</h1>
    <br/>
    <form action="." method="GET">
        <label for="q" style="font-size: 30px;">Enter your reservation code: <br/><br/></label>
    	<input type="text" name="q" value="{{ query|escape }}">
    	<input type="submit" value="Search">
    </form>
    {% if query %}
    	
        {% if groups %}
        <br/>
    	<p>Party results for "{{ query|escape }}":</p>
    		<ul>
    		{% for group in groups %}
    			<li><a href="{{group.get_absolute_url}}">{{ group|escape }}</a></l1>
    		{% endfor %}
    		</ul>
    	{% else %}
    	<p>Sorry, no reservation code matching "{{query|escape}}" was found. Please <a href="{% url contact %}">contact us</a> if you are experiencing difficulty.</p>
    	{% endif %}
    {% endif %}
    <br/>
    <p>*Note: If there is a USPS barcode on your invite you will find the reservation code underneath</p>
</div>
{% endblock %}

{% block footer %}
<p>We apologize if you are unable to find your reservation. Please <a href="{% url contact %}">contact us</a> to let us know about the problem.</p>
{% endblock footer %}
