{% extends "base.html" %}

{% block title %}RSVP{% endblock title %}

{% block content %}
<div id="rsvp">
    <h1>Stats</h1>
    <br/>
    <table>
        <tr>
            <th></th>
            <th>No Response</th>
            <th>Attending</th>
            <th>Not Attending</th>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>Bride</td>
            <td>{{bride_no_response_num}}/{{bride_no_response}}</td>
            <td>{{bride_attending_num}}/{{bride_attending}}</td>
            <td>{{bride_not_attending_num}}/{{bride_not_attending}}</td>
        </tr>
        <tr>
            <td>Groom</td>
            <td>{{groom_no_response_num}}/{{groom_no_response}}</td>
            <td>{{groom_attending_num}}/{{groom_attending}}</td>
            <td>{{groom_not_attending_num}}/{{groom_not_attending}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{bride_no_response_num|add:groom_no_response_num}}/{{bride_no_response|add:groom_no_response}}</td>
            <td>{{bride_attending_num|add:groom_attending_num}}/{{bride_attending|add:groom_attending}}</td>
            <td>{{bride_not_attending_num|add:groom_not_attending_num}}/{{bride_not_attending|add:groom_not_attending}}</td>
        </tr>
    </table>
    <br/>
    <h2>Meals</h2>
        <ul>
            <li>Meat:   {{meat}}</li>
            <li>Fish:   {{fish}}</li>
            <li>Veggie: {{veggie}}</li>
        </ul>
</div>
{% endblock %}
