@import "../fonts/rivannanf.css";

.rivanna {
    font-family: 'RivannaNFRegular';
}

.content {

    border: 1px solid black;
    margin:  0px auto;
    padding: 0px;
    position: relative;
    width: 960px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

div {
    display: block;
}

nav {
    font-family: 'RivannaNFRegular';
    font-size: 24px;
    text-align: center;
}

nav ul {
    list-style-type: disc !important;
}

nav li {
    border-left: 1px solid black;
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
}

footer {
    text-align: center;
}
