@import "../fonts/rivannanf.css";

/* Color Reference
 *
 * Using Triad:
 * 392E1C: light brown
 * 181628: dark blue
 * 122520: dark green
 * 251A09: dark brown
 *
 */

html {
    height: 100%;
}

body {
    background-color: #392E1C;
    height: 100%;
    margin: 0px;
}

.rivanna {
    font-family: 'RivannaNFRegular';
}

div {
    display: block;
}

a {
    text-decoration: none;
}

a:link { 
    color:#122520; 
}

a:visited,
a:hover,
a:active { 
    color: #181628; 
}

#container {
    background-color: white;
    height: 100%;
    margin:  0 auto;
    padding: 0px;
    position: relative;
    width: 960px;
}

nav {
    font-family: 'RivannaNFRegular';
    font-size: 28px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    border-left: 0px solid black;
}

nav li {
    border-left: 1px solid black;
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
}

#main_content {

    background-color: #251A09;
    border: 1px solid black;
    color: white;
    margin:  auto;
    padding: 10px;
    position: relative;
    width: 900px;
    min-height: 75%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#banner {
    text-align: center;
}

#title { 
    font-size: 72px 
}

#invitation { 
    font-size: 36px 
}

footer {
    text-align: center;
}

