@import "../fonts/rivannanf.css";

html, body {
    height: 100%;
}

.rivanna {
    font-family: 'RivannaNFRegular';
}

div {
    display: block;
}

.size30 { font-size: 30px }
.size60 { font-size: 60px }

nav {
    font-family: 'RivannaNFRegular';
    font-size: 24px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    border-left: 0px solid black;
}

nav li {
    border-left: 1px solid black;
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
}

#main_content {

    border: 1px solid black;
    margin:  auto;
    padding: 10px;
    position: relative;
    width: 960px;
    min-height: 75%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#banner {
    text-align: center;
}

footer {
    text-align: center;
}
