
@font-face {
    font-family: 'RivannaNFRegular';
    src: url('rivannanf-webfont.eot');
    src: url('rivannanf-webfont.eot?#iefix') format('embedded-opentype'),
         url('rivannanf-webfont.woff') format('woff'),
         url('rivannanf-webfont.ttf') format('truetype'),
         url('rivannanf-webfont.svg#RivannaNFRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

